/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {background: red;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {background: green;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
body {background: blue;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
body  {background: orange;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
body  {background: pink;}
}

/*___ბეგრაუნდის ფერი____*/

@media only screen and (max-width: 700px){
    ul {
  display:flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}
}

/*ნავბარი*/

@media only screen and (max-width: 700px){
  .twoblock{
    flex-direction: column;
    height: auto;
   align-items: center;
  }
  .blockimg{
    padding: 20%;
  }
}

